body {
  max-width: 60em;
  margin-top: 1em;
  margin-left: 1em;
  font-family: "DejaVu Sans Serif", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em; }

a {
  text-decoration: none;
  color: #3333ff; }
  a:visited {
    color: #3333ff; }
  a:hover {
    color: #000099;
    text-decoration: underline; }

#content {
  margin-bottom: 5em; }

#crumb {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 0.5em; }

ul.listing {
  padding-left: 0; }
  ul.listing li {
    list-style: none;
    padding-left: 2em; }
  ul.listing .dir {
    display: inline-block;
    margin-top: 1em;
    font-weight: bold;
    width: 100%;
    padding-left: 0; }
    ul.listing .dir .new-file {
      margin-left: 3em;
      margin-top: 0;
      display: none; }
    ul.listing .dir button, ul.listing .dir input {
      padding: 0.2em;
      line-height: 1.2em; }
    ul.listing .dir:hover .new-file {
      display: inline; }

li {
  margin-bottom: 0.2em; }

h1 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block; }

textarea, input, button {
  border: 1px solid #cccccc; }

textarea {
  width: 98.4%;
  height: 30em;
  padding: 0.5em;
  margin-top: -1px; }

textarea + button {
  margin-top: -1px; }

button {
  background-color: #eeeeee;
  padding: 0.5em; }

.markdown button {
  width: 100%; }

.new-file {
  margin-top: 1em; }
  .new-file button, .new-file input {
    padding: 0.2em;
    line-height: 1.4em; }

.pull-right {
  float: left; }
