<p>As the name implies, all documents in Markdown-wiki are written using
<strong>Markdown</strong>. We use the <strong>Kramdown</strong> flavour, which adds some new syntax to
“standard” markdown, as well.</p>

<p>TODO: Provide an overview of syntax here</p>

<p>See also:</p>

<ul>
  <li><a href="http://kramdown.gettalong.org/quickref.html">Kramdown Quick Reference</a></li>
  <li><a href="http://kramdown.gettalong.org/syntax.html">Kramdown Syntax</a></li>
</ul>
