<% unless Dir.exists? path %>
	<div>
		This directory doesn't exist yet;
		<form method="post">
			<button>Make it</button>
		</form>
	</div>
<% end %>

<ul class="listing">
	<% listing.each do |f| %>
		<li class="<% if f[0] %>dir<% end %>">
			<a href="<%= e f[1] %>"><%= path_to_title f[1] %></a>
			<% if f[0] %>
				<form method="post" class="new-file">
					<input type="hidden" name="dir" value="<%= e f[1] %>">
					<input type="text" name="new_file">
					<button>make new file</button>
				</form>
			<% end %>
		</li>
	<% end %>
</ul>

<% if Dir.exists? path %>
	<br>
	<form method="post" class="new-file">
		<input type="hidden" name="dir" value="<%= e path.sub(/\.\/data/, '') %>">
		<input type="text" name="new_file">
		<button>make new file in current directory</button>
	</form>
<% end %>
