<p>
	<a href="/<%= e uri.sub(/\.log$/, '') %>" class="btn">Back to page</a>
</p>

<% log.each do |l| %>
	<pre><%= e l[:diff] %></pre>
<% end %>

<% if log == [] %>
	<div>No log entries</div>
<% end %>
