body {
  max-width: 60em;
  margin-top: 1em;
  margin-left: 1em;
  font-family: "DejaVu Sans Serif", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em; }

a {
  text-decoration: none;
  color: #3333ff; }
  a:visited {
    color: #3333ff; }
  a:hover {
    color: #000099;
    text-decoration: underline; }

#wmd-preview, #page {
  margin-bottom: 5em; }

#wmd-preview {
  display: none; }

ul.listing {
  padding-left: 6px; }
  ul.listing ul {
    padding-left: 0; }
  ul.listing li {
    list-style: none;
    margin-bottom: 0; }
    ul.listing li a {
      display: block; }
      ul.listing li a:hover {
        background-color: #fff58f;
        text-decoration: none; }
    ul.listing li ul li a span {
      opacity: 0.1; }
    ul.listing li ul li a:hover span {
      opacity: 1; }
  ul.listing .dir {
    display: inline-block;
    margin-top: 0.5em;
    border-left: 1px solid #b7b7b7;
    margin-left: -6px;
    padding-left: 4px;
    border-radius: 4px;
    background-color: #ebebeb;
    background-image: linear-gradient(to right, #ebebeb 0%, #fff 100%);
    width: 100%; }

li {
  margin-bottom: 0.2em; }

h1 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em; }

textarea, input, select {
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px; }

select {
  background-color: #fff;
  color: #000; }

textarea {
  width: 98.2%;
  height: 30em;
  padding: 0.5em;
  margin-top: -1px;
  float: left; }

.save-button {
  margin-top: -2px;
  float: left; }

button {
  padding: 0.5em;
  cursor: pointer; }

.markdown button {
  width: 100%; }

.create-new {
  margin-top: 2em; }
  .create-new button, .create-new input {
    padding: 0.2em;
    line-height: 1.4em; }

code {
  white-space: pre-wrap;
  border-radius: 2px;
  background-color: #eee;
  padding: 0.2em; }

pre {
  margin-bottom: 1em;
  max-height: 40em;
  width: auto;
  overflow: auto;
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #ddd; }
  pre code {
    background-color: inherit;
    white-space: inherit; }

#page > pre:first-child,
#page > style:nth-child(1) + pre:nth-child(2) {
  margin-top: 5em; }

blockquote {
  border-left: 0.3em solid #2200ff;
  padding-left: 0.3em;
  margin-left: 2em; }

.flash {
  margin-top: 1em;
  font-weight: bold; }
  .flash.success {
    background-color: #d0ffd0;
    background-image: linear-gradient(to bottom, #d0ffd0 0%, #b0ffb0 100%); }
  .flash.error {
    background-color: #ffd0d0;
    background-image: linear-gradient(to bottom, #ffd0d0 0%, #ffb0b0 100%); }

.log-entry {
  margin: 1em 0; }
  .log-entry pre {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent; }

.buttons {
  float: right; }
  .buttons form {
    display: inline; }
  .buttons button, .buttons a {
    margin-right: 0.2em; }

.btn {
  font-size: 14px;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #eee 0%, #ddd 100%);
  color: #000;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5em;
  font-family: "DejaVu Sans Serif", Arial, sans-serif;
  font-weight: normal; }
  .btn:hover {
    text-decoration: none;
    color: #000;
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, #e6e6e6 0%, #d6d6d6 100%); }
  .btn:active, .btn:visited {
    color: #000; }

.box {
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #eee 100%);
  border: 1px solid #ddd;
  padding: 0.5em;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }

#wmd-button-bar {
  float: left; }

#show-preview {
  float: right;
  margin-bottom: -1px;
  margin-right: -2px; }

.remove-dir {
  float: right; }
  .remove-dir button {
    padding: 3px 0.5em; }

#crumb .crumb-path {
  float: left; }
#crumb .remove-dir button {
  margin-bottom: -4px;
  margin-top: -4px; }
#crumb:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

footer {
  padding-top: 0.5em;
  border-top: 1px solid #ddd;
  margin-top: 1em;
  margin-bottom: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  footer .right {
    float: right; }
  footer .left {
    float: left; }
    footer .left a {
      margin-right: 1em; }

.mv-page input {
  margin-right: 0;
  height: 2.21em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0.5em; }
.mv-page .btn {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px; }

.wmd-spacer {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-left: 14px;
  list-style: none;
  background-color: #c0c0c0; }

.wmd-spacer1 {
  left: 50px; }

.wmd-spacer2 {
  left: 175px; }

.wmd-spacer3 {
  left: 300px; }

.wmd-button {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  list-style: none;
  cursor: pointer; }
  .wmd-button span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(contrib/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; }

.wmd-prompt-background {
  background-color: #000; }

.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #f5f5f5; }
  .wmd-prompt-dialog form > input[type="text"] {
    border: 1px solid #999999; }
  .wmd-prompt-dialog form > input[type="button"] {
    border: 1px solid #888888;
    font-weight: bold;
    cursor: pointer; }

.markdown-help {
  float: right;
  margin-right: 4px;
  margin-top: 8px; }

@media print {
  .hidden-print {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
